@{
    ViewData["Title"] = "Home";
}

<div class="hero">
    <h1 id="typing-text"></h1>
</div>

<br> 
<div class="separador" </div>
<br>
<a href="a" id="introducao"></a>    

<br>

<section class="parmesao">
    <img src="images/cooking-with-cheese.jpg" alt="Parmesão">
    <div class="parmesao-texto">
        <h2 class="normal">Indispensável.</h2>
        <h2 class="normal">Os detalhes importam.</h2>
        <p>Queijos como o parmesão, que passam pelo
        maturação, exigem que os mínimos
        <strong>detalhes</strong> sejam monitorados para que
        nada estrague o sabor do seu queijo.</p>
    </div>
</section>

<br>

<section class="apresenta-produto" id="produto">
    <img src="images/produto-queijo.png" alt = "Produto">
    <div class="apresenta-produto-texto">
        <h2 class="normal">Vigia o ambiente.</h2>
        <h2 class="normal">Te mantém informado.</h2>
        <p>Com o nosso queijo monitorador,
           Você nunca mais terá problemas com o controle das
           variáveis da sua câmara de
           maturação. Você <strong>sempre</strong> saberá a temperatura,
           umidade e luminosidade, para que os seus
           queijos tenham a textura e sabor desejados.</p>
    </div>
</section>

<br>
<br>
<br>

<section class="especificacoes">
    <div class="especificacoes-texto">
        <h2 class="gradiente">Se a modernidade chegou, 
        <h2 class="gradiente">Por que não aproveitar?<h2>
        <br>
        <p>Com o nosso sensor, você nunca será o último a saber
           que a temperatura subiu, a umidade caiu ou a 
           luminosidade reduziu. Na produção do seu queijo, você
           poderá contar com os sensores DHT 11 e LDR do nosso
           aparelho e dos 4 MB de memória para gravações.<p>
    <div>
</section>

<section class="wuo-segurando-queijo">
    <img src="~/images/wuo-queijo.png" alt="Wuo segurando queijo" />
</section>

<section class="sobre-produto-grupo" id="sobre">
    <div class="sobre-produto-grupo-texto">
        <h2 class="normal">Sobre a equipe e o sistema<h2>
         <br>
         <p>Somos alunos da Fundação Salvador Arena, um centro educacional arraigado
            em princípios que valorizam, sobretudo, a educação, a igualdade e a disciplina.</p>
         <br>
         <br>
         <h3 class="normal">Integrantes da equipe:</h3>
         <br>
         <p>Os integrantes da nossa equipe, juntamente com o seu RA são:<br>
             Daniel Cataneo, 081240030<br>
             Gabriel Santos Galvão, 081240027<br>
             Felipe Nascimento Silva, 081240020<br>
             Felipe Stefanes Dessico, 081240002<br>
             Oliver Carraro Simão, 081240046<br>
         </p>

    </div>
</section>
