@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <h1 id="typing-text"></h1>
</div>

<br> 
<div class="separador" </div>
<br>
<a href="a" id="introducao"></a>    

<br>

<section class="parmesao">
    <img src="images/cooking-with-cheese.jpg" alt="Parmesão">
    <div class="parmesao-texto">
        <h2>Indispensável.</h2>
        <h2>Os detalhes importam.</h2>
        <p>Queijos como o parmesão, que passam pelo
        maturação, exigem que os mínimos
        <strong>detalhes</strong> sejam monitorados para que
        nada estrague o sabor do seu queijo.</p>
    </div>
</section>

<br>

<section class="apresenta-produto">
    <div class="apresenta-produto-texto">
        <h2>Vigia o ambiente</h2>
        <h2>Te mantém informado</h2>
        <p>Com o nosso sistema de monitoramento,
           Você nunca mais terá problemas com as
           variáveis ambientais do seu ambiente de
           maturação. Você sempre será informado da temperatura,
           umidade e luminosidade, para que os seus
           queijos alcancem a textura e sabor desejados.</p>
    </div>
</section>