@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Login</h2>
<div class="row">
    <div class="col-lg-3">
        <form action="/login/Fazlogin" method="post">
            <label for="usuario" class="control-label">Usuário</label>
            <input type="text" name="usuario" class="form-control" required placeholder='Usuário...' />
            <br />
            <label for="senha" class="control-label">Senha</label>
            <input type="password" name="senha" class="form-control" required placeholder='Senha...' />
            <br />
            <input type="submit" value="Login" class="btn btn-success" />
            &nbsp;
            <a href="/usuario/create" class="btn btn-success">Fazer Cadastro</a>

            <br />
            <span class="text-danger"> @ViewBag.Erro</span>
        </form>
    </div>
</div>
