<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataLogger</title>
    <link rel="icon" type="image/png" href="~/images/favicon.png">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>

    <header>
        <nav>
            <!-- Logo -->
            <!--*<a asp-controller="Home" asp-action="Index">
                <img src="images/wuo-come-queijo.png" alt="Logo">
            </a>
            -->

            <!-- Checkbox oculto para controle do menu mobile -->
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label" aria-label="Abrir menu">&#9776;</label>

            <!-- Links de navegação -->
            <div class="nav-links">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a href="#produto">Produto</a>
                <a href="#sobre">Sobre</a>
                <a href="#sair">Sair</a>
                <a asp-controller="Login" asp-action="Index">Entre</a>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="rodape">

    <div class="rodape-topo">
        <div class="separador"></div>
    </div>

    <div class="rodape-conteudo">

        <div class="rodape-col">
            <span class="rodape-titulo-col">Navegação</span>
            <a href="#produto">Produto</a>
            <a href="#adquira">Plataforma</a>
            <a href="#equipe">Equipe</a>
            <a href="#sobre">Sobre</a>
        </div>

        <div class="rodape-col">
            <span class="rodape-titulo-col">Sistema</span>
            <span class="rodape-info">ESP32 + DHT11 + LDR</span>
            <span class="rodape-info">FIWARE + STH-Comet</span>
            <span class="rodape-info">MongoDB</span>
        </div>

        <div class="rodape-col">
            <span class="rodape-titulo-col">Instituição</span>
            <span class="rodape-info">Faculdade Engenheiro</span>
            <span class="rodape-info">Salvador Arena</span>
        </div>

    </div>

    <div class="rodape-base">
        <div class="separador"></div>
        <p class="rodape-copy">
            Copyright &copy; @DateTime.Now.Year DataLogger. Projeto Acadêmico — 2º Bimestre.
        </p>
    </div>

</footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>